@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #474747; }

.container {
  width: 100%;
  padding: 0;
  margin: 0; }

.container2 {
  padding: 20px; }

a {
  text-decoration: none; }

/* ------home--------- */
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 14em; }

.blueBg {
  bottom: 0;
  display: flex;
  justify-content: center; }

/* -------setting----------- */
.header {
  background-color: #2698f3;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 9px;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 999; }
  .header h6 {
    margin: 5px 54px; }
  .header h5 {
    margin-top: 9px; }
  .header i {
    margin-right: 25px;
    cursor: pointer; }
  .header .noMargin {
    margin: 5px 12px; }
  .header .midMargin h6 {
    margin: 5px 100px; }

.homeMargin h6 {
  margin: 5px 94px; }

.patientMargin h6 {
  margin: 5px 88px; }

.footer {
  background-color: #2698f3;
  color: #c0e2ff;
  bottom: 0;
  width: 100%;
  padding: 14px 0;
  margin-top: auto;
  position: fixed;
  left: 0;
  text-align: center;
  height: 60px; }

.footer .row .col-3, .col-4 {
  display: flex;
  justify-content: center; }
  .footer .row .col-3 .active, .col-4 .active {
    color: white; }

.footer .row .col-3 a, i, .col-4 a, i {
  color: #c0e2ff;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  margin-top: 2px; }

.rightDiv {
  text-align: right;
  margin: 1em 2em;
  position: fixed;
  right: 0;
  bottom: 3.5em; }
  .rightDiv i {
    font-size: 3em;
    color: #2698f3; }

.blueIcon {
  text-align: right; }
  .blueIcon i {
    font-size: 2em;
    color: #2698f3; }

.updateBtn {
  margin: 3em auto; }
  .updateBtn button {
    width: 152px;
    font-size: 14px; }

.content {
  min-height: 100%;
  margin: 3em 0 1em 0; }
  .content .imageCenter {
    margin-top: 142px; }
  .content .boldTxt h5 {
    font-weight: bold; }
  .content .prescList {
    background-color: white;
    padding: 7px 15px; }
    .content .prescList .btns {
      display: flex;
      justify-content: center;
      margin: 15px auto;
      height: 40px; }
      .content .prescList .btns button {
        cursor: pointer;
        margin-left: -4px;
        font-size: 13px;
        width: 48%; }
      .content .prescList .btns .btn1 {
        border-radius: 5px 0px 0px 5px; }
      .content .prescList .btns .btn2 {
        border-radius: 0px 5px 5px 0px; }
    .content .prescList .btn-primary {
      border-radius: 25px;
      padding: 5px 11px;
      font-size: 15px;
      margin-top: 8px; }
    .content .prescList .attach {
      display: flex;
      align-items: center; }
      .content .prescList .attach .col-4 {
        padding: 0;
        margin: 0; }
      .content .prescList .attach .col-2, .content .prescList .attach .col-10 {
        padding-right: 0 !important; }
  .content .titleRow {
    display: flex; }
    .content .titleRow img {
      width: 15px;
      height: 15px;
      margin-right: 3px; }
    .content .titleRow .lowwidth {
      width: 12px; }
  .content .doc {
    background-color: white;
    border: none !important;
    margin: 5px auto !important;
    padding: 10px; }
    .content .doc .docSelect .col-1 {
      padding-left: 0 !important;
      padding-right: 0 !important; }
    .content .doc .title {
      font-size: 16px; }
    .content .doc .grayTitle {
      font-size: 16px;
      color: #8d8daa; }
    .content .doc input {
      width: 100%;
      font-size: 10px; }
      .content .doc input.btn-primary::-webkit-input-placeholder {
        color: white; }
      .content .doc input.btn-primary:-moz-placeholder {
        color: white; }
      .content .doc input.btn-primary::-moz-placeholder {
        color: white; }
      .content .doc input.btn-primary:-ms-input-placeholder {
        color: white; }
    .content .doc .col-6 {
      padding-right: 0 !important;
      padding-left: 10px !important; }
    .content .doc .para {
      font-weight: bold;
      margin: 0;
      font-size: 13px; }
  .content .title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    color: #474747; }
  .content .para {
    font-weight: lighter;
    margin: 0;
    font-size: 13px; }
  .content .drug {
    margin-right: 15px;
    background-color: #F3F9FE;
    padding: 5px;
    margin-top: 5px; }
    .content .drug .MiniTitle {
      font-weight: bold;
      margin: 0;
      font-size: 16px;
      color: #2698F3; }
    .content .drug span.para {
      font-size: 14px; }
  .content .lang {
    margin: 0;
    padding: 10px;
    border-bottom: 0.1px solid #d4d4d4; }
    .content .lang .title {
      font-size: 16px; }
    .content .lang:first-child {
      background-color: #F2F9FF; }
      .content .lang:first-child .title, .content .lang:first-child i {
        color: #2698F3; }
  .content .images {
    display: flex; }
    .content .images img {
      margin: 5px;
      width: 30vw; }
  .content .blueInput {
    margin: 5px;
    border: 1px solid #2698F3;
    border-radius: 5px; }
    .content .blueInput ::-webkit-input-placeholder {
      color: #2698F3; }
    .content .blueInput :-moz-placeholder {
      color: #2698F3; }
    .content .blueInput ::-moz-placeholder {
      color: #2698F3; }
    .content .blueInput :-ms-input-placeholder {
      color: #2698F3; }

.blue {
  color: #2698f3; }

.gray {
  background-color: #f3f3f3; }

.settingItem {
  padding: 9px 0;
  box-shadow: 1px 2px 3px 2px #f3f5f7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 8px 0; }
  .settingItem .row {
    margin: 0; }
  .settingItem .row .col-6 p, .settingItem .col-7 p, .settingItem .col-12 p {
    font-size: 11px;
    margin-bottom: 0;
    width: max-content;
    margin-top: 5px; }
  .settingItem .row .col-6 i, .settingItem .col-7 i, .settingItem .col-12 i {
    color: #2698f3;
    margin-right: 5px; }
  .settingItem .row .col-6 a, .settingItem .col-7 a, .settingItem .col-12 a {
    color: black;
    font-size: 11px; }

.btns {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  height: 40px; }
  .btns button {
    cursor: pointer;
    margin-left: -4px;
    font-size: 13px;
    width: 48%; }
  .btns .btn1 {
    border-radius: 5px 0px 0px 5px; }
  .btns .btn2 {
    border-radius: 0px 5px 5px 0px; }

.btnsRounded {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  height: 40px; }
  .btnsRounded button {
    cursor: pointer;
    margin-left: -4px;
    font-size: 13px;
    width: 48%;
    border-radius: 6.7em; }
  .btnsRounded .btn1 {
    z-index: 5;
    position: relative;
    right: 0px;
    right: -16px;
    width: 50%; }
  .btnsRounded .btn2 {
    border-left-color: white;
    position: relative;
    right: 0px;
    width: 50%; }

form .col-12 {
  padding-right: 9px;
  padding-left: 5px; }

.loginForm {
  margin: auto 1em; }
  .loginForm label {
    color: #2698f3; }
  .loginForm input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray; }

.leftSide {
  margin-top: 1em;
  text-align: left;
  background-image: url(../images/footerBg.png);
  padding: 4em 0; }
  .leftSide button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

@media screen and (max-width: 800px) and (min-width: 320px) {
  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; }

  .row {
    max-width: 1140px;
    margin: 0 auto; } }
@media screen and (max-width: 374px) and (min-width: 320px) {
  .header h6 {
    margin: 5px 54px; }

  .homeMargin h6 {
    margin: 5px 94px; }

  .patientMargin h6 {
    margin: 5px 88px; }

  .chPassMargin h6 {
    margin: 5px 13px; }

  .bookMargin h6 {
    margin: 5px 43px; } }
@media screen and (max-width: 411px) and (min-width: 375px) {
  .header h6 {
    margin: 5px 60px; }

  .homeMargin h6 {
    margin: 5px 119px; }

  .patientMargin h6 {
    margin: 5px 115px; }

  .chPassMargin h6 {
    margin: 5px 41px; }

  .fHeight {
    min-height: 85vh; }

  .bookMargin h6 {
    margin: 5px 66px; } }
@media screen and (max-width: 768px) and (min-width: 411px) {
  .header h6 {
    margin: 5px 95px; }

  .homeMargin h6 {
    margin: 5px 140px; }

  .patientMargin h6 {
    margin: 5px 130px; }

  .chPassMargin h6 {
    margin: 5px 52px; }

  .bookMargin h6 {
    margin: 5px 88px; } }

/*# sourceMappingURL=styles.css.map */
