@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container2 {
    padding: 20px;
}

a {
    text-decoration: none;
}

/* ------home--------- */

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 14em;
}

.blueBg {
    bottom: 0;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 768px) and (min-width: 320px) {
    html, body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .row {
        max-width: 1140px;
        margin: 0 auto;
    }
}

/* -------setting----------- */
.header {
    background-color: #2698f3;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 9px;
    align-items: center;
    h5{
        margin-top:9px
    }
    i{
        margin-right: 25px;
        cursor: pointer;
    }
}

.footer {
    background-color: #2698f3;
    color: #c0e2ff;
    bottom: 0;
    width: 100%;
    padding: 14px 0;
    // margin-top: 185px;
}

.footer .row .col-3 , .col-4 {
    display: flex;
    justify-content: center;
    .active{
        color: white;
    }
}

.footer .row .col-3  a, i ,.col-4 a, i{
    color: #c0e2ff;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    margin-top: 2px;
   
}

.content {
    min-height: 100%;
    margin-bottom: 11em;
    .boldTxt h5{
        font-weight: bold;
    }
    .prescList{
        background-color: white;
        padding: 7px 15px;
        .btn-primary{
            border-radius: 25px;
            padding: 5px 11px;
            font-size: 15px;
            margin-top: 8px;
        }
    }
    .titleRow{
        display: flex;
        img{
            width: 15px;
            height: 15px;
            margin-top: 3px;
            margin-right: 1px;
        }
        .lowwidth{
            width: 12px;
        }
    }
    
    .title{
        font-weight: bold;
        margin:0;
        font-size:18px;
        color: #474747;
    }
    .para{
        font-weight: lighter;
        margin:0;
        font-size:14px;
    }
    .drug{
        margin-right: 15px;
        background-color: #F3F9FE;
        padding: 5px;
        margin-top: 5px;
        .MiniTitle{
            font-weight: bold;
            margin:0;
            font-size:16px;
            color:#2698F3 ;
        }
        span.para{
            font-size: 14px;
        }
    }
}


.blue {
    color: #2698f3;
}
.gray{
    background-color: #f3f3f3;
}
.settingItem {
    padding: 9px 0;
    box-shadow: 1px 2px 3px 2px #f3f5f7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 8px 0;

    .row {
        margin: 0;
    }

    .row .col-6, .col-7, .col-12 {
        p {
            font-size: 11px;
            margin-bottom: 0;
            width: max-content;
            margin-top: 5px;
        }

        i {
            color: #2698f3;
            margin-right: 5px;
        }

        a {
            color: black;
            font-size: 11px;
        }
    }
}
// ---------change password--------
.btns{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    height: 40px;

    button {
        cursor: pointer;
        margin-left: -4px;
        font-size: 13px;
    }
    .btn1{
        border-radius: 5px 0px 0px 5px;
    }
    .btn2{
        border-radius: 0px 5px 5px 0px;
    }
}
form{
    .col-12{
        padding-right: 9px;
        padding-left: 5px;
    }
}
.updateBtn{
    margin: 1em auto;
    button{
        width: 152px;
        font-size: 14px;
    }
}